.tools{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-top: 20px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 170px;
  background: linear-gradient(
    243.15deg,
    rgba(255, 255, 255, 0.24) 2.7%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 4px rgba(255, 253, 253, 0.25);
  border-radius: 25px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}