.myBtn {
  box-sizing: border-box;
  width: 228px;
  height: 58px;
  border: 2px solid #05ff0f;
  border-radius: 28px;
  background: none;
  cursor: pointer;
}

.myBtn span {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #05ff0f;
}

@media (max-width: 430px) {
  .myBtn span{
    font-size: 20px;
  }
}
