.container {
  position: absolute;
  width: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to bottom, #191919, #000000);
  background: linear-gradient(to bottom, #191919, #000000);

}
.main {
  min-height: 100vh;
  padding: 20px;
}
