.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 600px;
}

.title {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}



